# Project build files
/cmake-build-debug/
/bin/

# Visual studio project files
/.vs/
/GKOM_OpenGL/GKOM_OpenGL.vcxproj.user
/GKOM_OpenGL/GKOM_OpenGL.vcxproj.filters
/GKOM_OpenGL/GKOM_OpenGL.vcxproj
/GKOM_OpenGL/GKOM_OpenGL.sln
/GKOM_OpenGL/Debug/vc141.pdb
/GKOM_OpenGL/Debug/vc141.idb
/GKOM_OpenGL/Debug/GKOM_OpenGL.tlog/unsuccessfulbuild
/GKOM_OpenGL/Debug/GKOM_OpenGL.tlog/GKOM_OpenGL.lastbuildstate
/GKOM_OpenGL/Debug/GKOM_OpenGL.tlog/CL.command.1.tlog
/GKOM_OpenGL/Debug/GKOM_OpenGL.log
/GKOM_OpenGL/.vs/GKOM_OpenGL/v15/ipch/AutoPCH/c116e4c9416e133e/WINDOW.ipch
/GKOM_OpenGL/.vs/GKOM_OpenGL/v15/ipch/AutoPCH/ad98296eacc8d6e9/CORE.ipch
/GKOM_OpenGL/.vs/GKOM_OpenGL/v15/ipch/AutoPCH/353644979fb78d/CYLINDER.ipch
/GKOM_OpenGL/.vs/GKOM_OpenGL/v15/ipch/AutoPCH/2fb0ff9808d31490/CYLINDER.ipch
/GKOM_OpenGL/.vs/GKOM_OpenGL/v15/Browse.VC.opendb
/GKOM_OpenGL/.vs/GKOM_OpenGL/v15/Browse.VC.db
/GKOM_OpenGL/.vs/GKOM_OpenGL/v15/.suo
/build/ZERO_CHECK.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/build/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
/build/tests/tests.sln
/build/tests/external-libraries/test_glfw3.vcxproj.user
/build/tests/external-libraries/test_glfw3.vcxproj.filters
/build/tests/external-libraries/test_glfw3.vcxproj
/build/tests/external-libraries/test_glfw3.dir/Debug/vc141.pdb
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/test_glfw3.lastbuildstate
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/link.write.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/link.read.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/link.command.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/custombuild.write.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/custombuild.read.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/custombuild.command.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/CL.write.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/CL.read.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.tlog/CL.command.1.tlog
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.obj
/build/tests/external-libraries/test_glfw3.dir/Debug/test_glfw3.log
/build/tests/external-libraries/cmake_install.cmake
/build/tests/external-libraries/CMakeFiles/generate.stamp.depend
/build/tests/external-libraries/CMakeFiles/generate.stamp
/build/tests/cmake_install.cmake
/build/tests/CMakeFiles/generate.stamp.depend
/build/tests/CMakeFiles/generate.stamp
/build/tests/ALL_BUILD.vcxproj.filters
/build/tests/ALL_BUILD.vcxproj
/build/main.vcxproj.filters
/build/main.vcxproj
/build/main.dir/Debug/vc141.pdb
/build/main.dir/Debug/main.tlog/main.lastbuildstate
/build/main.dir/Debug/main.tlog/link.write.1.tlog
/build/main.dir/Debug/main.tlog/link.read.1.tlog
/build/main.dir/Debug/main.tlog/link.command.1.tlog
/build/main.dir/Debug/main.tlog/custombuild.write.1.tlog
/build/main.dir/Debug/main.tlog/custombuild.read.1.tlog
/build/main.dir/Debug/main.tlog/custombuild.command.1.tlog
/build/main.dir/Debug/main.tlog/CL.write.1.tlog
/build/main.dir/Debug/main.tlog/CL.read.1.tlog
/build/main.dir/Debug/main.tlog/CL.command.1.tlog
/build/main.dir/Debug/main.obj
/build/main.dir/Debug/main.log
/build/GLAD.vcxproj.filters
/build/GLAD.vcxproj
/build/GLAD.dir/Debug/GLAD.tlog/Lib.command.1.tlog
/build/GLAD.dir/Debug/GLAD.tlog/Lib-link.write.1.tlog
/build/GLAD.dir/Debug/GLAD.tlog/Lib-link.read.1.tlog
/build/GLAD.dir/Debug/GLAD.tlog/GLAD.lastbuildstate
/build/GLAD.dir/Debug/GLAD.tlog/custombuild.write.1.tlog
/build/GLAD.dir/Debug/GLAD.tlog/custombuild.read.1.tlog
/build/GLAD.dir/Debug/GLAD.tlog/custombuild.command.1.tlog
/build/GLAD.dir/Debug/GLAD.tlog/CL.write.1.tlog
/build/GLAD.dir/Debug/GLAD.tlog/CL.read.1.tlog
/build/GLAD.dir/Debug/GLAD.tlog/CL.command.1.tlog
/build/GLAD.dir/Debug/GLAD.pdb
/build/GLAD.dir/Debug/glad.obj
/build/GLAD.dir/Debug/GLAD.log
/build/dzwig-kratownicowy.sln
/build/Debug/main.pdb
/build/Debug/main.ilk
/build/Debug/main.exe
/build/Debug/GLAD.pdb
/build/Debug/GLAD.lib
/build/cmake_install.cmake
/build/CMakeFiles/TargetDirectories.txt
/build/CMakeFiles/generate.stamp.list
/build/CMakeFiles/generate.stamp.depend
/build/CMakeFiles/generate.stamp
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/3.17.2/VCTargetsPath.vcxproj
/build/CMakeFiles/3.17.2/VCTargetsPath.txt
/build/CMakeFiles/3.17.2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/build/CMakeFiles/3.17.2/CompilerIdCXX/CompilerIdCXX.vcxproj
/build/CMakeFiles/3.17.2/CompilerIdCXX/CompilerIdCXX.exe
/build/CMakeFiles/3.17.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/build/CMakeFiles/3.17.2/CompilerIdC/Debug/CMakeCCompilerId.obj
/build/CMakeFiles/3.17.2/CompilerIdC/CompilerIdC.vcxproj
/build/CMakeFiles/3.17.2/CompilerIdC/CompilerIdC.exe
/build/CMakeFiles/3.17.2/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.17.2/CMakeSystem.cmake
/build/CMakeFiles/3.17.2/CMakeRCCompiler.cmake
/build/CMakeFiles/3.17.2/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/3.17.2/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.17.2/CMakeCXXCompiler.cmake
/build/CMakeFiles/3.17.2/CMakeCCompiler.cmake
/build/CMakeFiles/06ad5052c8dc0e7599e1f0ed098d063f/generate.stamp.rule
/build/CMakeCache.txt
/build/ALL_BUILD.vcxproj.user
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj
/build/.vs/dzwig-kratownicowy/v15/Solution.VC.db-wal
/build/.vs/dzwig-kratownicowy/v15/Solution.VC.db-shm
/build/.vs/dzwig-kratownicowy/v15/Solution.VC.db
/build/.vs/dzwig-kratownicowy/v15/ipch/AutoPCH/9fca05a980fff92/MAIN.ipch
/build/.vs/dzwig-kratownicowy/v15/ipch/AutoPCH/9bb2e8665dffb1a/TEST_GLFW3.ipch
/build/.vs/dzwig-kratownicowy/v15/Browse.VC.db
/build/.vs/dzwig-kratownicowy/v15/.suo
